@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.voice,
[epub|type~="se:temperature"]{
	font-variant: all-small-caps;
}

#chapter-12-subchapter-4 > section > p:last-child{
	margin-top: 1em;
	text-align: center;
	text-indent: 0;
}

p[epub|type~="z3998:signature"]{
	margin-top: 1.5em;
	text-align: right;
}

p[epub|type~="z3998:postscript"]{
	text-indent: 0;
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] .right{
	display: block;
	text-align: right;
}

p[epub|type~="se:letter.dateline"],
p[epub|type~="se:diary.dateline"]{
	text-align: right;
}

[epub|type~="z3998:diary-entry"] p[epub|type~="se:diary.dateline"] + p,
p[epub|type~="se:letter.dateline"] + p,
section[epub|type~="z3998:diary"] + *{
	text-indent: 0;
}

section[epub|type~="z3998:diary"].no-header{
	margin: 1em;
}

[epub|type~="z3998:diary"] > blockquote[epub|type~="z3998:diary-entry"]{
	margin: 0;
}

[epub|type~="z3998:diary"] > header + blockquote[epub|type~="z3998:diary-entry"]{
	margin-top: 3em;
}

blockquote[epub|type~="z3998:diary-entry"] + blockquote[epub|type~="z3998:diary-entry"]::before,
section[epub|type~="z3998:diary"] + *::before{
	border-top: 1px solid;
	content: "";
	display: block;
	height: 0;
	margin: 1.5em auto;
	width: 25%;
}

section[epub|type~="z3998:diary"]{
	margin-left: 1em;
	margin-right: 1em;
}

header > p + blockquote[epub|type~="epigraph"]{
	margin-top: 3em;
}

header > p{
	text-indent: 0;
}

section[epub|type~="z3998:letter"]{
	margin: 1em;
}

[epub|type~="z3998:salutation"]{
	font-style: italic;
	text-indent: 0;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:verse"],
[epub|type~="z3998:poem"]{
	text-indent: 0;
	margin: 1em;
}

blockquote header p,
section section > header{
	font-variant: small-caps;
	margin: 3em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

figure{
	break-inside: avoid;
	margin: 1em auto;
	max-height: 100vh;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

dd + dt{
	margin-top: 1em;
}

#chapter-5 table,
#chapter-11 table,
#chapter-14 table,
#chapter-17 table,
#glossary table{
	font-variant: small-caps;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
}

#chapter-5 table thead{
	text-align: center;
}

#chapter-5 table td,
#chapter-11 table td,
#chapter-11 table th,
#chapter-14 td,
#chapter-14 th,
#chapter-17 td,
#chapter-17 th,
#glossary th,
#glossary td{
	padding: 0 1em;
}

#chapter-7 table{
	margin: 1em auto;
	width: 70%;
}

#chapter-7 table th,
#chapter-7 table td{
	text-align: right;
}

#chapter-7 table th:first-child,
#chapter-7 table td:first-child{
	text-align: initial;
	width: 70%;
}

#chapter-7 table td:last-child{
	font-weight: bold;
}

#chapter-11 table,
#chapter-17 table,
#glossary table{
	text-align: initial;
}

#glossary table{
	margin-bottom: 0;
	margin-top: 1em;
}

#glossary table td:first-child{
	text-align: right;
}

#glossary table td{
	font-variant-numeric: tabular-nums;
}

#chapter-14 table{
	display: inline-block;
	text-align: initial;
	vertical-align: top;
}

#chapter-14 header + div{
	text-align: center;
}

#chapter-14 header + div + p{
	text-indent: 0;
}

[epub|type~="loi"] cite{
	font-style: italic;
	display: block;
}

table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	vertical-align: top;
	padding: .5em;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

[epub|type~="epigraph"] [epub|type~="z3998:persona"]{
	font-style: normal;
}
